@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/inter-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/inter-700.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 900;
    src: url("../fonts/inter-900.woff2") format("woff2");
    font-display: swap;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
}

html {
    height: 100%;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    font-size: 16px;
    color: #2D3440;
    background-color: #FEAFC3;
  }

.main-container {
    flex-grow: 1;
}

.page-container section, .article-newsletter-wrapper {
    margin-bottom: 80px;
}

.page-container section:last-child {
    margin-bottom: 0;
}
/* Header styles start */
.main-header {
    display: flex;
    margin: 0 auto;
    width: 1170px;
    align-items: center;
}

.main-header-navblock-wrapper {
    width: 575px;
    display: flex;
    align-items: center;
}

.main-header-user-navigation {
    margin: 0;
    padding: 0;
    max-width: 546px;
    margin-left: auto;
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    align-items: center;
}

.navigation-item {
    min-width: 32px;
    min-height: 32px;
    padding: 8px 16px;
}

.navigation-item button {
    min-width: 32px;
    min-height: 32px;
}

.main-header-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    width: 569px;
    margin-left: 16px;
}

.main-header-link a {
    line-height: 20px;
    display: block;
    color: inherit;
    text-decoration: none;
    text-transform: none;
    text-align: center;
    padding: 8px 16px;
}


.main-header button {
    font-family: inherit;
    color: inherit;
    font-size: 14px;
    line-height: 20px;
}

.main-header-phone {
    font-weight: 700;
    line-height: 20px;
    text-decoration: none;
    color: inherit;
}

/* Header styles end */

/* Main index content block styles start */
.page-container {
    width: 1170px;
    margin: 0 auto;
}


.main-promo-header {
    font-weight: 900;
    font-size: 36px;
    line-height: 46px;
}

.main-promo-header {
    font-size: 18px;
    line-height: 24px;
}

.main-promo-cart-button {
    font-family: inherit;
    color: inherit;
    font-weight: 700;
    line-height: 20px;
}

.main-gift-banners {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
}

.main-gift-banner {
    width: 570px;
    background-color: #FF7799;
    border-radius: 16px;
}

.main-gift-header {
    text-align: center;
    font-weight: 900;
    font-size: 32px;
    line-height: 46px;
    margin: 0;
    margin-bottom: 50px;
}

.main-gift-wrapper {
    margin: 36px;
    margin-right: auto;
}

.main-gift-item-header {
    font-weight: 900;
    font-size: 32px;
    line-height: 46px;
    margin: 0;
    margin-bottom: 28px;
}

.main-gift-item-subheader {
    width: 304px;
    margin: 0;
    margin-bottom: 40px;
}

.main-gift-button {
    color: inherit;
    text-decoration: none;
    background: #FCFCFC;
    padding: 12px 32px;
    border: 4px solid rgba(252, 252, 252, 0.4);
    border-radius: 26px;
}

.main-gift-button {
    font-weight: 700;
    line-height: 20px;
}

.main-purchasables-list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
}

.main-purchasables-item {
    width: 270px;
}

.main-purchasables-title-header {
    font-weight: 900;
    font-size: 32px;
    line-height: 46px;
    text-align: center;
    margin: 0;
    margin-bottom: 56px;
}

.main-purchasables-text-wrapper {
    margin: 16px 0;
}

.main-purchasables-header {
    text-align: center;
    font-size: 20px;
    line-height: 24px;
    margin: 0;
    margin-bottom: 8px;
}

.main-purchasables-subheader {
    text-align: center;
    margin: 0;
}

.main-purchasables-image {
    margin: 0 51px;
    border-radius: 50%;
}

.main-purchasables-purchase-wrapper {
    margin: 0 40px 24px 40px;
    display: flex;
    justify-content: space-between;
}

.main-purchasables-price {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    padding: 4px 0;
}

.main-purchasables-button {
    min-width: 32px;
    min-height: 32px;
    padding: 0;
    border: 0;
}

.main-heading {
    background-image: url("../images/main-heading-background.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 16px;
    min-height: 480px;
    padding: 24px;
}

.main-heading-wrapper {
    background: #FFFFFF;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
}

.main-heading-subheaders {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-right: 40px;
    margin-left: 40px;
    margin-bottom: 56px;
}


.main-heading-subheaders-text {
    margin: 0;
    padding-left: 64px;
}

.main-heading-subheaders-item {
    max-width: 505.5px;
    margin-bottom: 40px;
    /* Не справился с отступами здесь */
}

.main-heading-header {
    font-weight: 900;
    font-size: 32px;
    line-height: 46px;
    text-align: center;
    margin-top: 56px;
    margin-right: 63px;
    margin-bottom: 56px;
    margin-left: 63px;
}

.article-newsletter-wrapper {
    display: flex;
    justify-content: space-between;
}

.main-article {
    background-image: url("../images/article-background.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 16px;
    min-height: 224px;
    width: 570px;
    padding-top: 32px;
    padding-left: 32px;
}

.main-article-header {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    margin: 0;
    margin-bottom: 12px;
}

.main-article-subheader {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    text-decoration: none;
    color: inherit;
    padding: 0;
}

.main-newsletter {
    background-image: url("../images/mail-background.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 16px;
    min-height: 224px;
    width: 570px;
}

.main-newsletter-form {
    background: #FFFFFF;
    border-radius: 16px;
    margin: 6px;
    padding: 26px;
}

.main-newsletter-text {
    margin: 0;
    margin-bottom: 42px;
}

.main-newsletter-input {
    font-family: inherit;
    color: #B9B9B9;
    line-height: 20px;
}

.submit {
    font-family: inherit;
    color: inherit;
    font-weight: 700;
    line-height: 20px;
}

.main-delivery {
    background-image: url("../images/delivery-background.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 16px;
    min-height: 534px;
    width: 1170px;
    padding: 64px;
    display: flex;
}

.main-delivery-form {
    width: 500px;
    background: #FCFCFC;
    box-shadow: 0px 15px 40px rgba(45, 52, 64, 0.12);
    border-radius: 8px;
    padding: 40px;
}

.main-delivery-text-container {
    width: 371px;
    margin-top: auto;
    margin-right: auto;
    margin-bottom: auto;
}

.main-delivery input {
    color: #B9B9B9;
    font-family: inherit;
}

.main-delivery-header {
    font-weight: 900;
    font-size: 32px;
    line-height: 46px;
    margin: 0;
    margin-bottom: 24px;
}

.main-delivery-subheader {
    margin: 0;
}

.main-delivery-date-container label{
    font-weight: 700;
    line-height: 20px;
}

.main-delivery-date-container input{
    font-family: inherit;
    line-height: 20px;
}

.main-delivery-phone-container label{
    font-weight: 700;
    line-height: 20px;
}

.main-delivery-phone-container input{
    font-family: inherit;
    line-height: 20px;
}

.main-delivery-address-container label{
    font-weight: 700;
    line-height: 20px;
}

.main-delivery-address-container input{
    font-family: inherit;
    line-height: 20px;
}

.main-contacts {
    background-image: url("../images/address.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 16px;
    min-height: 492px;
    width: 1170px;
    padding: 64px;
    padding-right: 763px;
}

.main-contacts-container {
    background: #FCFCFC;
    box-shadow: 0px 8px 16px rgba(45, 52, 64, 0.12);
    border-radius: 8px;
    padding: 40px;
}

.main-contacts-address-header {
    margin: 0;
    margin-bottom: 12px;
}

.main-contacts-address-subheader {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 24px;
}

.main-contacts-contacts-header {
    margin: 0;
    margin-bottom: 12px;
}

.main-contacts-contacts-subheader {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}

.main-contacts-contacts-subheader a{
    text-decoration: none;
    color: inherit;
}

.main-contacts-contacts-additional {
    font-size: 14px;
    line-height: 20px;
    margin: 0;
    margin-bottom: 32px;
}

.main-contacts-callback-button {
    font-family: inherit;
    color: inherit;
    font-weight: 700;
    line-height: 20px;
    margin-left: 40px;
}
/* Main index content block styles end */

/* Main catalog content block start */

.main-inner-subnavigation-list {
    list-style: none;
    display: flex;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
}

.main-inner-subnavigation-item a {
    text-decoration: none;
    color: inherit;
    margin-right: 8px;
}

.main-inner-subnavigation-item .selected {
    text-decoration: underline;
}

.main-inner-catalog-header {
    font-weight: 900;
    font-size: 32px;
    line-height: 46px;
}



.main-inner-catalog-filter-form {
    display: flex;
    width: 823px;
    color: inherit;
    font-size: 14px;
    line-height: 20px;
}

.main-inner-catalog-filter-form .button {
    color: inherit;
    font-family: inherit;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
}

.main-inner-catalog-items img {
    border-radius: 50%;
}

.main-inner-catalog-item-header {
    color: inherit;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
}

.main-inner-catalog-item-subheader {
    text-align: center;
    color: #565C66;
}

.main-inner-catalog-item-price {
    color: inherit;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}

.main-inner-catalog-button {
    font-weight: 700;
    line-height: 20px;
    color: inherit;
    font-family: inherit;
}

.main-inner-content-pages-navigation {
    display: flex;
}

.main-inner-catalog-navigation-list {
    display: flex;
    list-style: none;
}

.main-inner-catalog-navigation-item {
    line-height: 20px;
}

.main-inner-catalog-navigation-item a{
    text-decoration: none;
    color: inherit;
}

.main-inner-catalog-navigation-list .selected {
    width: 24px;
    height: 24px;
    background: #FCFCFC;
    border-radius: 50px;
}

/* Main catalog content block end */

/* Footer start */
.main-footer {
    width: 1170px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 48px 0;
}

.main-footer-media-links {
    list-style-type: none;
    width: 104px;
    margin-right: 259px;
    display: flex;
}

.main-footer-media-item a {
    display: block;
    background-color: #FCFCFC;
    border-radius: 24px;
    border: 2px solid rgba(252, 252, 252, 0.3);
    min-width: 32px;
    min-height: 32px;
    margin-left: 8px;
}



.main-footer-additional-links{
    list-style-type: none;
    width: 470px;
    margin-right: 259px;
    display: flex;
    flex-wrap: wrap;
}


.main-footer a {
    color: inherit;
    text-decoration: none;
}

.main-footer-additional-link-special {
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
}

.main-footer-additional-link {
    margin-left: 24px;
    margin-bottom: 8px;
    min-width: 180px;
    font-size: 14px;
    line-height: 20px;
}

.main-footer-academy {
    font-size: 12px;
    line-height: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main-footer-academy-header {
    margin: 0;
}

/* Footer end */
